@* 11. Bind the Register View to a Register model *@
@using ValidationProject.Models;
@model RegisterModel


@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

@* 8. Create the Register View to hold a form with a button*@
<form action="@Url.Action("Register", "Account")" method="post">

    
    @*@Html.ValidationSummary()*@

    @*12. Add the form fields, and then TEST 
            then add ValidationRules to RegisterModel *@
    <div>
        @Html.LabelFor(m=>m.Email)
        @Html.TextBoxFor(m => m.Email)
        @Html.ValidationMessageFor(m => m.Email) @* Validation Message Placeholder*@
    </div>
    <div>
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password)
        @Html.ValidationMessageFor(m => m.Password) @* Validation Message Placeholder*@
    </div>
    <div>
        @Html.LabelFor(m => m.ConfirmPassword)
        @Html.PasswordFor(m => m.ConfirmPassword)
        @Html.ValidationMessageFor(m => m.ConfirmPassword) @* Validation Message Placeholder*@
    </div>

    <button>GO</button>
</form>