@using SpaceCats.Web.Models;
@model List<SpaceCat>

@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    ViewBag.PageTitle = "Space Cat Directory";
    ViewBag.Keywords = "spacecats directory home-planets";
}


<p>There are currently @Model.Count known spacecats</p>

<table id="space-cat-directory">

    @*
        Dictionary<string, List<SpaceCat>> cats = new Dictionary<string, List<SpaceCat>>();
        var cats = new Dictionary<string, List<SpaceCat>>();
    *@

    @foreach (var cat in Model)
    {

        <tr>
            <td><a href="@Url.Action("Detail","SpaceCats", new { id = cat.Id})">
                    <img src="@Url.Content("~/Content/img/" + cat.ImageUrl)" />
                </a>
            </td>
            @*<td><img src="~/Content/img/@cat.ImageUrl" /></td>*@
            <td><a href="@Url.Action("Detail","SpaceCats", new { id = cat.Id})">@cat.Name</a></td>
            <td>@cat.HomePlanet</td>
        </tr>
    }

</table>

